@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome Jokes App</h1>
    <p>Here is the jokes app, welcome search any joke.</p>
</div>

<div style="position: absolute; top: 100px; right: 10px; width: 200px;">
    <div class="card" style="background-color: #007bff; color: white; padding: 10px;">
        <h2 class="card-text">Mevcut Hava Durumu:</h2>
        <p class="card-text">@ViewBag.weatherModel.cityName</p>
        <p class="card-text">@ViewBag.weatherModel.country</p>
        <p class="card-text">@ViewBag.weatherModel.tempValue</p>
    </div>
</div>

